body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px !important;
    text-decoration: none;
    color: blue; /* Adjust the color as needed */
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
